@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oglsyi');
  src:  url('fonts/icomoon.eot?oglsyi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oglsyi') format('truetype'),
    url('fonts/icomoon.woff?oglsyi') format('woff'),
    url('fonts/icomoon.svg?oglsyi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconmoon-"], [class*=" iconmoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmoon-spinner:before {
  content: "\e90d";
}
.iconmoon-arrow-right:before {
  content: "\ea34";
}
.iconmoon-arrow-left:before {
  content: "\ea38";
}
.iconmoon-warning:before {
  content: "\ea07";
}
.iconmoon-file-text2:before {
  content: "\e906";
}
.iconmoon-coin-euro:before {
  content: "\e907";
}
.iconmoon-stack:before {
  content: "\e636";
}
.iconmoon-envelope:before {
  content: "\e631";
}
.iconmoon-x-altx-alt:before {
  content: "\e62b";
}
.iconmoon-download2:before {
  content: "\e9c5";
}
.iconmoon-upload2:before {
  content: "\e9c6";
}
.iconmoon-upload:before {
  content: "\e627";
}
.iconmoon-alert:before {
  content: "\f02d";
}
.iconmoon-list:before {
  content: "\e9ba";
}
.iconmoon-plus:before {
  content: "\ea0a";
}
.iconmoon-checkmark:before {
  content: "\ea10";
}
.iconmoon-file-pdf:before {
  content: "\eada";
}
.iconmoon-search:before {
  content: "\e60c";
}
.iconmoon-wrench:before {
  content: "\e66d";
}
.iconmoon-cog2:before {
  content: "\e670";
}
.iconmoon-bars:before {
  content: "\e671";
}
.iconmoon-switch:before {
  content: "\e60d";
}
.iconmoon-eye:before {
  content: "\e616";
}
.iconmoon-eye2:before {
  content: "\e617";
}
.iconmoon-radio-unchecked:before {
  content: "\e619";
}
.iconmoon-twitter:before {
  content: "\e614";
}
.iconmoon-search2:before {
  content: "\e60e";
}
.iconmoon-add:before {
  content: "\e607";
}
.iconmoon-subtract:before {
  content: "\e608";
}
.iconmoon-close:before {
  content: "\e60f";
}
.iconmoon-forbid:before {
  content: "\e615";
}
.iconmoon-cloud-upload:before {
  content: "\e90c";
}
.iconmoon-phone:before {
  content: "\e90b";
}
.iconmoon-document:before {
  content: "\e005";
}
.iconmoon-checkmark2:before {
  content: "\e62e";
}
.iconmoon-cancel:before {
  content: "\e62c";
}
.iconmoon-video:before {
  content: "\e633";
}
.iconmoon-banknote:before {
  content: "\e628";
}
.iconmoon-hourglass:before {
  content: "\e01f";
}
.iconmoon-refresh:before {
  content: "\e05a";
}
.iconmoon-uniE61E:before {
  content: "\e61e";
}
.iconmoon-uniE611:before {
  content: "\e611";
}
.iconmoon-uniE612:before {
  content: "\e612";
}
.iconmoon-uniE610:before {
  content: "\e610";
}
.iconmoon-svg4:before {
  content: "\e603";
}
.iconmoon-svg5:before {
  content: "\e604";
}
.iconmoon-svg6:before {
  content: "\e606";
}
.iconmoon-svg62:before {
  content: "\e605";
}
.iconmoon-svg28:before {
  content: "\e61b";
}
.iconmoon-svg42:before {
  content: "\e629";
}
.iconmoon-svg64:before {
  content: "\e63f";
}
.iconmoon-svg65:before {
  content: "\e640";
}
.iconmoon-info-new:before {
  content: "\e909";
}
.iconmoon-alert2:before {
  content: "\e900";
}
.iconmoon-disclosure:before {
  content: "\e901";
}
.iconmoon-received:before {
  content: "\e902";
}
.iconmoon-cash:before {
  content: "\e903";
}
.iconmoon-halted:before {
  content: "\e904";
}
.iconmoon-executed:before {
  content: "\e905";
}
.iconmoon-circle_close_delete_:before {
  content: "\e62f";
}
.iconmoon-mail-open:before {
  content: "\e61c";
}
.iconmoon-mail-close:before {
  content: "\e61d";
}
.iconmoon-svg:before {
  content: "\e600";
}
.iconmoon-svg2:before {
  content: "\e601";
}
.iconmoon-svg3:before {
  content: "\e602";
}
.iconmoon-svg4:before {
  content: "\e603";
}
.iconmoon-svg5:before {
  content: "\e604";
}
.iconmoon-svg6:before {
  content: "\e606";
}
.iconmoon-svg62:before {
  content: "\e605";
}
.iconmoon-svg28:before {
  content: "\e61b";
}
.iconmoon-svg42:before {
  content: "\e629";
}
.iconmoon-svg64:before {
  content: "\e63f";
}
.iconmoon-svg65:before {
  content: "\e640";
}
.iconmoon-chevron-right:before {
  content: "\e90a";
}
.iconmoon-keyboard_arrow_down:before {
  content: "\e313";
}
.iconmoon-keyboard_arrow_up:before {
  content: "\e316";
}
.iconmoon-plus2:before {
  content: "\e114";
}
.iconmoon-minus2:before {
  content: "\e115";
}
.iconmoon-check:before {
  content: "\e116";
}
.iconmoon-cross:before {
  content: "\e117";
}
.iconmoon-info-outline:before {
  content: "\e61f";
}
.iconmoon-open-in-new:before {
  content: "\e622";
}
.iconmoon-desktop-windows:before {
  content: "\e623";
}
.iconmoon-browser:before {
  content: "\e624";
}
.iconmoon-menu:before {
  content: "\e120";
}
.iconmoon-phone1:before {
  content: "\e630";
}
.iconmoon-help:before {
  content: "\e62a";
}
.iconmoon-chevron-down:before {
  content: "\e634";
}
.iconmoon-chevron-thin-down:before {
  content: "\e635";
}
.iconmoon-chevron-thin-left:before {
  content: "\e62d";
}
.iconmoon-save:before {
  content: "\e632";
}
.iconmoon-info-with-circle:before {
  content: "\e621";
}
.iconmoon-info:before {
  content: "\e620";
}
.iconmoon-flag:before {
  content: "\e613";
}
.iconmoon-minus:before {
  content: "\e60b";
}
.iconmoon-switch2:before {
  content: "\e618";
}
.iconmoon-arrow-down:before {
  content: "\e609";
}
.iconmoon-arrow-up:before {
  content: "\e60a";
}
.iconmoon-help2:before {
  content: "\e908";
}
.iconmoon-write:before {
  content: "\e625";
}
.iconmoon-trash:before {
  content: "\e626";
}
.iconmoon-warning:before {
  content: "\ea07";
}
.iconmoon-file-text2:before {
  content: "\e906";
}
.iconmoon-coin-euro:before {
  content: "\e907";
}
.iconmoon-stack:before {
  content: "\e636";
}
.iconmoon-envelope:before {
  content: "\e631";
}
.iconmoon-x-altx-alt:before {
  content: "\e62b";
}
.iconmoon-download2:before {
  content: "\e9c5";
}
.iconmoon-upload2:before {
  content: "\e9c6";
}
.iconmoon-upload:before {
  content: "\e627";
}
.iconmoon-alert:before {
  content: "\f02d";
}
.iconmoon-envelope-o:before {
  content: "\f003";
}
.iconmoon-floppy-o:before {
  content: "\f0c7";
}
.iconmoon-copyright:before {
  content: "\f1f9";
}
.iconmoon-pie-chart:before {
  content: "\f200";
}
.iconmoon-uniE61A:before {
  content: "\e61a";
}
